

#page {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 1200px;
	overflow-x: hidden;
}

#conteneur {
	display: inline-flex;
	width: 100%;
	flex-direction: row-reverse;
	align-items: baseline;
	box-sizing: border-box;
	
}


/*=======================================================================================================*/
/*======================================== CSS LISERE ===================================================*/

#lisere {
	width: 400px;
	background: #FFC107;
	padding: 8px 8px 130px 8px;
	font-family: georgia, serif;
	box-sizing: border-box;

	
}

.fa-futbol, .fa-mountain, .fa-running {
	font-size: 2.5em;
	border: 1px solid #263238;;
	border-radius: 50%;
	color: #263238;
	height: 70px;
	width: 70px;
	box-sizing: border-box;
	padding-top: 11px;
	text-align: center;
}

.loisirs {
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}

#lisere h2 {
	font-family: arial, serif;
	background-color: #263238;
	font-size: 29px;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFC107;
	text-align: center;

}
#lisere p {
	text-align: justify;
	margin: 20px;
	color: #263238;
}


a {
	text-decoration: none;
	font-style: normal;
	color: black;
}

a:hover {
	color: red;
	text-decoration: underline;
}

#lisere span {
	font-weight: bold;
}

#lsr {
	margin-top: 180px;
}


/*============================================== FIN CSS LISERE ================================================*/


/*==============================================================================================================*/
/*=============================================== CSS HEADER ===================================================*/

header p {
	font-weight: bold;
	font-size: 1.3em;
}

h1 {
	font-size: 3em;
}

h1 span {
	color: #FFC107;
}

p span {
	text-decoration: underline;
	text-decoration-color: #FFC107;
}

img {
	width: 180px;
	border-radius: 50%;
	border: 1px solid black;

}

#photo {
	width: 400px;
	background-color: #FFC107;
	height: 250px;
	padding: 5px;
	box-sizing: border-box;
}

.prenom {
	width: auto;
	padding-left: 40px;

}

.tete {
	display: block;
	margin: auto;
	margin-top: 40px;
}

header {
	display: flex;
	width: 1200px;
}
/*============================================== FIN CSS HEADER ================================================*/




/*============================================================================================================*/
/*============================================ CSS PARTIE DROITE =============================================*/

.fa-graduation-cap, .fa-suitcase, .fa-pen {
	color: #FFC107;
	font-size: 1em;
	margin-right: 16px;
}

.fa-dot-circle {
	font-size: 0.7em;
	color: #FFC107;
	margin-right: 10px; 
}

.fa-circle {
	font-size: 0.5em;
	color: #FFC107;
	margin-right: 10px; 
}

#droite {
	width: 800px;
}

h2 {
	border-bottom: 1px solid #FFC107;
	margin-left: 40px;
}

li {
	list-style-type: none;
	display: flex;
	align-items: baseline;
	justify-content: space-between;

}

.formation {
	width: 500px;
}

.recommandation {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-left: 45px;
}

div a {
	color: #263238;
}

/*========================================= FIN CSS PARTIE DROITE=============================================*/
