@media (min-width: 747px) and (max-width: 1024px) {
	
	#page {
		width: 100%;
		box-sizing: border-box;
		margin: auto;
	}
	
	#lisere {
		width: 35%;
		
	}
	
	#droite {
		width: 65%;
	}
	
	header {
		width: 100%;
	}
	
	#photo {
		width: 35%;
		box-sizing: border-box;
		padding: 0;
	}
	
	.prenom {
		width: 65%;
		padding: 0;
	}
	
	.prenom p {
		margin-left: 30px;
	}
	
	h1 {
		width: 100%;
		box-sizing: border-box;
		margin-left: 30px;
	}
	
	#lisere h2 {
		width: 100%;
	}
	
	ul {
		padding-left: 10px;
	}
	
	.formation {
		width: 250px;
	}
	
	.recommandation {
		width: 480px;
		margin-left: 0;
	}
	
	.recommandation div {
		margin-left: 10px
	}

}