@media screen and (max-width: 767px) 
{
	section ul {
		padding: 2px;
	}
	
	.ville {
		margin-left: 40px;
	}
	.hexp {
		height: 57px;
	} 
	
	h3 {
		font-size: 16px;
	}

	h2 {
		width: 100%;
		margin: 20px 0px 20px 0px;
		text-align:left;
		font-size: 22px;
	}
	#conteneur {
        flex-direction: column;
        width: 100%;
    }

    header {
        flex-direction: column-reverse;
        width: 100%;
    }

    li {
		flex-direction: column;
    }


    .recommandation {
        flex-direction: column;
		margin-left: 0;
    }
	

    .formation {
        width: 100%;
    }

    #page {
        width: 100%;
        overflow-x: hidden;
    }

    #lisere {
        width: 100%;
    }
	
	#lisere h2 {
		width: 100%;
		box-sizing: border-box;
	}

    #photo {
        width: 100%;
    }

    .prenom {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #droite {
        width: 100%;
    }

    .prenom {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
	
	.fa-futbol, .fa-mountain, .fa-running {
		font-size: 2.5em;
		border: 1px solid #263238;;
		border-radius: 50%;
		color: #263238;
		height: 70px;
		width: 70px;
		box-sizing: border-box;
}

	.loisirs {
		display: flex;
		justify-content: space-around;
		box-sizing: border-box;
}
	.loisirs i {
		display: flex;
		justify-content: center;
		align-items: center
	}
	
}