


header p {
	font-weight: bold;
	font-size: 1.3em;
}

h1 {
	font-size: 3em;
}
.nom {
	margin-left: 30px;
}

h1 span {
	color: #FFC107;
}

p span {
	text-decoration: underline;
	text-decoration-color: #FFC107;
}


h2 {
	border-bottom: 1px solid #FFC107;
	margin-left: 40px;
}


#liseré {
	width: 400px;
	background: #FFC107;
	padding: 5px 5px 5px 5px;
	font-family: georgia, serif;
}


.fa-graduation-cap, .fa-suitcase, .fa-pen {
	color: #FFC107;
	font-size: 1em;
	margin-right: 16px;
}

.fa-dot-circle {
	font-size: 0.7em;
	color: #FFC107;
	margin-right: 10px; 
}

.fa-circle {
	font-size: 0.5em;
	color: #FFC107;
	margin-right: 10px; 
}

.fa-futbol, .fa-anchor, .fa-car {
	font-size: 3em;
	margin: 20px 20px 20px 20px;
}

.loisirs {
	display: flex;
	justify-content: center;
}

#contener {
	display: flex;
	margin: auto;
	width: 1200px;
	flex-direction: row-reverse;
	border: 1px solid black;
	
}

#droite {
	width: 800px;
	margin-right: 20px;
}

main {
	margin-top: 90px;
}

img {
	width: 180px;
	border-radius: 50%;
	border: 1px solid black;

}

#liseré h2 {
	font-family: arial, serif;
	background-color: #263238;
	font-size: 29px;
	margin-left: 0px;
	margin-right: 0px;
	color: #FFC107;
	text-align: center;

}
#liseré p {
	text-align: justify;
	margin: 20px;
}

#corps h1 {
	font-family: serif;
	font-size: 4em;
}


li {
	list-style-type: none;
	display: flex;
	align-items: baseline;
	justify-content: space-between;

}

.formation {
	width: 500px;
}

.recommandation {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-left: 45px;
}

.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

address {
	text-decoration: none;
	font-style: normal;
}

@media screen and (max-width: 1080px)